<a href="https://colab.research.google.com/github/bobg207/Honors_Data_Analysis/blob/master/Euro_2012.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Step 1. Import the necessary librariesÂ¶


## Step 2. Import the Euro_2012_Team_Stats dataset from GitHub.
## Step 3. Assign it to a variable called euro12.

## Step 4. Select only the Goals column.

## Step 5. How many teams participated in the Euro2012?

## Step 6. How many columns are in the dataset?

## Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline.

## Step 8. Sort the teams by Red Cards, then to Yellow Cards, both in descending order.

## Step 9. Filter teams that scored more than 6 goals

## Step 10. Select the teams that start with G

## Step 11. Select the first 7 columns

## Step 12. Select all columns except the last 3.

## Step 13. Present only the Shooting Accuracy from England, Italy and Russia

## Step 14. Create a new column called passing_accuracy and fill it with the appropriate values, rounded to hundredths.
* There is currently a column for Passing Accuracy so why would we need to create another?

## Step 15. Sort the data, by this new column, in descending order and create a bar graph to represent the data for all teams.

In [ ]:
import pandas as pd

def add_data(item):
  return sum(item)

df = pd.DataFrame({'A':[1, 2, 3],
                   'B':[4, 5, 6],
                   'C':[7, 8, 9]})

df.agg({'A': "sum"})

A    6
dtype: int64